.shelf
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .booklink:hover
    opacity: 1;


  .booklink

    opacity: 0.8;

    width: 199px;
    margin: 10px;
    min-width: 199px;
    min-height: 250px;

    .mdl-card__actions
      height: 40px;
      padding: 5px;
      background: rgba(0, 0, 0, 0.4);

      a
        text-decoration: none;
        color: #FFFDE7;
        font-size: 14px;
        font-weight: 500;

        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;


        display: -moz-box;
        display: -webkit-box;
        display: box;
