.search
  color: #fff;
  position: relative;
  width: 220px;
  margin: auto;

  .mdl-button--icon .material-icons
    font-weight: bold;

  input
    color: #2196F3


  .mdl-textfield--floating-label .mdl-textfield__label:after
    background: #fff


  .mdl-textfield--floating-label.is-focused .mdl-textfield__label, .mdl-textfield--floating-label.is-dirty .mdl-textfield__label, .mdl-textfield--floating-label.has-placeholder .mdl-textfield__label
    color: #fff

  .mdl-textfield .mdl-button
    top: 18px;


.logout
  position: absolute!important;
  top: 0;
  right: 0;
  min-width: 50px!important;
